@mixin text($fz, $fw, $c) {
  font-size: $fz;
  font-weight: $fw;
  color: $c;
};

@mixin button($fz, $fw, $c, $bg, $pd, $bd, $br) {
  font-size: $fz;
  font-weight: $fw;
  color: $c;
  background-color: $bg;
  padding: $pd;
  border: $bd;
  border-radius: $br;
  cursor: pointer;
};
