// Font Weight
$text-light: 300;
$text-regular: 400;
$text-semibold: 600;
$text-bold: 700;

//Font size
$text-xs: 13px;
$text-base: 15px;
$text-xl: 24px;
$text-3xl: 45px;
$text-h3-carousel: 16.5px;
$text-h2-carousel: 57px;
$text-form-title:36px;

//Text color
$text-c1-primary: #b61984;
$text-c1-light: #fff;
$text-c1-dark: #181818;

//Background
$bg-c1-primary: #b61984;
$bg-c2-primary: #dcd1f3;
$bg-light: #fff;
$bg-transparent:transparent;

//Border
$bd-c1-primary:rgba(0,0,0,0.1);
$bd-c3-primary:rgba(0,0,0,0.3);
$bd-dark:rgba(255, 255, 255, 0.1);


